body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul,
ol {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  padding: 24px 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}

/* Header */

.header {
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  cursor: pointer;
  display: flex;
  margin-right: 156px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.navigation-list {
  display: flex;
  gap: 40px;
}

.navigation-list-item {
  display: flex;
  margin: 0 auto;
  margin-right: 0;
  color: #404bbf;
}

.navigation {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-style: normal;
  display: flex;
  margin: 0 auto;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.4s ease;
}

.navigation:hover::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  transform: scale(1.05);
}

.navigation:hover {
  color: #404bbf;
  transform: scale(1.05);
}

.navigation:focus {
  color: #404bbf;
}

/* Contacts/Navigation */

.address-list {
  justify-content: center;
  align-items: center;
  gap: 40px;
  display: flex;
}

.navigation-address {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.4s ease;
}

.navigation-address:hover {
  color: #404bbf;
  transform: scale(1.05);
}

.navigation-address:focus {
  color: #404bbf;
}

.navigation-address-list {
  margin: 0;
  padding: 0;
}

.address {
  display: flex;
  gap: 40px;
}

/* Container */

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-two {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container {
  display: flex;
}

/* Section #1 */

.title {
  background-color: #2e2f42;
  padding: 188px 0;
  width: auto;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/background.jpg);
  margin: 0 auto;
}

.subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: #4d5ae5;
  cursor: pointer;
  color: #fff;
  letter-spacing: 0.04em;
  line-height: 1.5;
  font-size: 16px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 48px;
  transition: all 0.4s ease;
}

.btn:hover {
  background-color: #404bbf;
  transform: scale(1.05);
}

.btn:focus {
  background-color: #404bbf;
}

/* Section #2 */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-fill {
  margin: 0 auto;
  width: 264px;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
  justify-content: center;
  display: flex;
  align-items: center;
}

.icons {
  width: 64px;
  height: 64px;
}

.features-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-list {
  gap: 24px;
  display: flex;
}

.features-item-list {
  width: calc((100% - 72px) / 4);
}

.lead {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  gap: 24px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.features-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: flex;
  gap: 24px;
  margin: 0 auto;
}

/* Section #3 */

.our-team {
  background-color: #f4f4fd;
  text-transform: capitalize;
  padding-top: 120px;
  padding-bottom: 120px;
  width: 100%;
}

.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  gap: 24px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 0;

  color: #2e2f42;
}

.our-team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: #fff;
}

.employee-info {
  padding: 32px 0;
}

.staff {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin: 0 auto;
}

.team-roles {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

.staff-social {
  width: 43px;
  height: 43px;
  border-radius: 50%;
}

.staff-link {
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.4s ease;
}

.staff-link:hover {
  background-color: #404bbf;
  transform: scale(1.05);
}

.staff-link:focus {
  background-color: #404bbf;
}

.team-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Section #4 */

.our-portfolio {
  text-transform: capitalize;
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  justify-content: center;
}

.portfolio-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
  margin-top: 0;

  color: #2e2f42;
}

.portfolio-cart p {
  padding: 0px 314px 32px 16px;
  margin: 0 auto;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  line-height: 1.11;
  text-transform: capitalize;
  flex-wrap: wrap;
  gap: 24px;
  width: calc((100% - 48px) / 3);
  border: 1px solid #e7e9fc;
  cursor: pointer;
  transition: all 0.4s ease;
}

.project-item img {
  max-width: 360px;
  max-height: 300px;
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
  transform: scale(1.05);
}

.portfolio-item:first-child {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin: 32px 0px 8px 16px;

  color: #2e2f42;
}

.portfolio-item-paragraph {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.overlay {
  position: absolute;
  top: 0;
  background-color: #4d5ae5;
  color: #f4f4fd;
  height: 100%;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  transform: translateY(100%);
  transition: all 0.8s ease;
  margin: 0;
}

.overlay-img {
  position: relative;
  overflow: hidden;
}

.portfolio-item:hover .overlay {
  transform: translateY(0%);
}

/* Footer */

.footer-div {
  margin-right: 120px;
}

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-span {
  color: #f4f4fd;
}

.footer-paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2%;
  color: #f4f4fd;
  margin-top: 18px;
}

/* Social Footer */

.social {
  margin-right: 80px;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list {
  width: 43px;
  height: 43px;
  border-radius: 70%;
}

.title-social {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #fff;
  margin-top: 0;
  margin-bottom: 16px;
}

.social-link {
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.4s ease;
}

.social-link:hover {
  background-color: #31d0aa;
  transform: scale(1.05);
}

.social-link:focus {
  background-color: #31d0aa;
}

/* Subsctibe */

.title-subcribe {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin: 0 auto;
  padding-bottom: 16px;
}

.form-subcribe {
  display: flex;
  gap: 24px;
}

.label {
  gap: 24px;
}

.input {
  width: 264px;
  height: 40px;
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #fff;
}

.button-footer {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: all 0.4s ease;
}

.send {
  margin-left: 16px;
}

.button-footer:hover {
  background-color: #404bbf;
  transform: scale(1.05);
}

/* Overlay */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms ease-in-out;
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 24px;
  position: relative;
}

.overlay-text {
  color: #2e2f42;
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding-top: 35px;
}

.button-overlay {
  border-radius: 4px;
  cursor: pointer;
  background-color: #4d5ae5;
  color: #fff;
  display: block;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  border: none;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 24px;
}

.form-overlay:focus {
  border-color: #4d5ae5;
}

.privacy-policy {
  color: #4d5ae5;
  text-decoration: underline;
}

.input-overlay {
  width: 360px;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-left: 45px;
  font-size: 14px;
  outline: none;
}

.input-overlay:focus {
  transition: border-color 0.3s ease;
  border-color: #4d5ae5;
}

.input-overlay-name {
  background: url(/images/person.svg);
  background-repeat: no-repeat;
  background-position: 18px center;
}

.input-overlay-phone {
  background: url('data:image/svg+xml;utf8,<svg width="18" height="24" viewBox="0 0 18 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.7263 13.8651L12.8881 13.6552C12.4467 13.6046 12.0125 13.7566 11.7013 14.0677L10.3697 15.3993C8.3217 14.3572 6.64276 12.6855 5.60067 10.6303L6.93947 9.29144C7.25065 8.98025 7.40263 8.54605 7.35197 8.1046L7.1421 6.28092C7.05526 5.55 6.44013 5 5.70198 5H4.45002C3.63226 5 2.952 5.68026 3.00266 6.49802C3.38621 12.6783 8.32894 17.6138 14.5019 17.9973C15.3197 18.048 15.9999 17.3677 15.9999 16.55V15.298C16.0072 14.5671 15.4572 13.952 14.7263 13.8651Z" fill="%232E2F42"/></svg>')
    no-repeat;
  background-repeat: no-repeat;
  background-position: 18px center;
}

.input-overlay-email {
  background: url(/images/email.svg);
  background-repeat: no-repeat;
  background-position: 18px center;
  opacity: 1;
}

.text-overlay {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.text-overlay-checkbox {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  padding-left: 8px;
}

form.form-overlay-privacy {
  padding-top: 16px;
}

.close {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  right: 24px;
  top: 24px;
}

.close.close-icon.modal-overlay.is-close {
  opacity: 0;
  pointer-events: none;
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-overlay::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 16px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus {
  border-color: #4d5ae5;
}
